<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div th:if="${param.error}">
	    <p style="color: red;">Credenciais inválidas. Por favor, tente novamente.</p>
	</div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/auth}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="text" name="username" placeholder="Nome usuário"/>
                <input type="password" name="password" placeholder="Senha"/>
                <button type="submit">login</button>
            </form>
            <a th:href="@{/signup}">Não tem conta? Cadastre-se aqui!</a>
        </div>
    </div>
</body>
</html>